@model TestDapper.Models.Driver

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4 class="alert alert-secondary">Create a driver</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        <div class="form-group">
                @*<div class="col-11">
                    <select id="lstCountryId" asp-for="AutoId" class="form-control" asp-items="ViewBag.Cars"
                            onchange="FillCities(this, 'lstcity')"></select>
                </div>*@
                <select asp-for="AutoId">
                    <option value="lstCountryId" disabled selected>Choose the car</option>
            <option value="1">Option 1</option>
        </select>
        </div>
        </form>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-outline-success btn-sm" /> &emsp;
        <a asp-action="index" class="btn btn-link btn-sm">Back</a>
    </div>
</div>


@section Scripts{

    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>

    @*<script>
        $(document).ready(function () {


            $.ajax({
                type: "POST",
                url: "@Url.Action("Create")",
                dataType: "json",
                data: {name: "driver"},
                succes: function(result){
                    console.log(result);

                },
                error: function(req, status, error){
                    console.log(status)
                }
            })


        }

    </script>*@
}